p {
    text-align: left;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* General Header Styling */
.header {
    padding: 20px 30px;
    box-sizing: border-box;
    background-color: rgb(65, 64, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    margin: 0px; /* Fixes issues with header to edges */
}

/* Header Title: Centered */
.headerTitle {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    color: white;
}

.infoContainer {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 2px solid rgb(139, 139, 139);
}

.infoTag {
    font-size: 20px;
    text-decoration: none;
    color: rgb(75, 74, 74);
    transition: color 0.35s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.infoTag:hover {
    color: rgb(0, 0, 0); /* Changes color on hover */
}

.headerButton {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-size: 1rem;
    transition: color 0.3s;
}

.headerButton:hover {
    color: rgb(99, 99, 99); /* Changes color on hover */
}

.moreLink {
    text-decoration: none;
    transition: color 0.35s;
}

.moreLink:hover {
    color: rgb(179, 179, 179); /* Changes color on hover */
}


#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

/* Optional styling for the distance output */
.distanceContainer {
    text-align: center;
    margin-top: 10px;
}

.distanceOutput {
    margin-top: 10px;
    font-weight: bold;
}

.jobs {
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: bold;
    color: rgb(68, 68, 68);
    font-size: 24px;
}

.jobContainer {
    max-width: 750px;
    margin: 0 auto;
    border-bottom: 2px solid rgb(139, 139, 139);
}

.skillsLearn {
    margin-bottom: 0;
    font-style: italic;

}

.jobInfo {
    margin-top: 5px;
}